// @import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Caveat:wght@700&display=swap"); // .container {

.exception-panel {
    z-index: 1000;
    background-color: var(--surface-ground);
    .exception-card {
        text-align: center;
        h1 {
            font-size: 8rem;
            font-weight: 900;
            color: var(--primary-color);
        }
        h3 {
            font-size: 4rem;
            font-weight: 800;
            opacity: 0.9;
            color: var(--text-secondary-color);
            margin-top: -3rem;
        }
    }
}
