@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.read-more-button {
  @apply text-orange-600;
}
.form-field {
  @apply bg-orange-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5;
}

.form-field-err {
  @apply text-orange-600;
}

.calltoaction-btn {
  @apply flex gap-2 justify-center items-center text-white bg-gradient-to-br from-orange-400 to-orange-500 w-full md:w-auto px-4 py-2  rounded-lg hover:shadow-lg transition-all ease-in-out duration-100;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
